@import './src/assets/Config/Utils';

.movieeditor-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-white;

    .movieeditor-cover {
        display: block;
		width: 50%;
		margin: 0px 50px;
        
        background: $color-dark-gray;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;

        @media screen and (min-width: 900px) {
            height: 590px;
        }
    
        @media screen and (max-width: 899px) {
            height: 110px;
        }
    }

    .movieeditor-inputs {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        width: 50%;
		height: 590px;
    }

    .movieeditor-input {
        display: block;
        width: 100%;
		margin-top: 45px;
		
		&:first-child {
			margin-top: 0px;
		}
    }

    .movieeditor-button {
		width: 30%;
		margin: 0px 5px;
	}
	
}