@import './src/assets/Config/Utils';

.dialog-main {
  display: block;
  padding: 30px;
  background: $color-white;

  .dialog-subject {
    display: block;
    font-size: 1.3em;
    max-width: 80%;
  }

  .dialog-button {
    margin-left: 20px;
  }
}
