@import './src/assets/Config/Utils';

.movieeditor-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-white;

    @media screen and (min-width: 900px) {
        width: 500px;
    }

    @media screen and (max-width: 899px) {
        width: 90%;
    }

    .movieeditor-cover {
        display: block;
        width: 100%;
        
        background: $color-dark-gray;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;

        @media screen and (min-width: 900px) {
            height: 180px;
        }
    
        @media screen and (max-width: 899px) {
            height: 110px;
        }
    }

    .movieeditor-inputs {
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 20px;
    }

    .movieeditor-input {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .movieeditor-button {
        width: 49%;
    }
}