@import './src/assets/Config/Utils';

.header-main {
    height: 50px;
    background: $color-dark-gray;
    z-index: 1;
    opacity: 0.9;
	padding: 0px 25px;

    .header-section {
        display: flex;
        align-items: center;
        color: $color-white;
		font-size: 2.6em;
	}
	
	.header-authentication {
		display: inline;
		font-size: 0.4em;
	}

    .header-title {
        font-family: JennaSue;
    }

    .header-logo {
        margin: 0px 20px;
    }

    .header-plus {
        font-size: 0.5em;
        cursor: pointer;

        &:hover {
            color: $color-sky;
        }
	}
	
	.header-logout {
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			color: $color-sky;
		}
	}
	
}
