
<div class="header-main flex-container row space-between fixed full">
    <div class="header-section">
        <span class="header-title">C i n e m a</span>
		<span class="header-logo icon icon-play"></span>
		<div class="header-authentication" *ngIf="router.url != '/Cinema/Login'">
			<span> Logged in as&nbsp;{{ (user$ | async)?.username }}&ensp;&nbsp;</span>
			<span class="header-logout" (click)="showLogoutDialog()">Log Out</span>
		</div>
		<div class="header-authentication" *ngIf="router.url == '/Cinema/Login'">
			<span>Hello Guest</span>
		</div>
    </div>
    <div class="header-section" *ngIf="router.url != '/Cinema/Login'">
		<span class="header-icon header-favorite icon icon-star-full"></span>
		<span class="header-icon header-plus icon icon-plus" (click)="router.navigate(['Cinema/MovieSummary'])"></span>
    </div>
</div>
