
<modal #dynamicModal> </modal>

<header (plus)="openEditorModal()"> </header>

<div class="page">
    <div class="body">
        <div class="block-container">
            <span class="global-separator"></span>
            <movies-list
                [movies]="moviesList"
                (onRemove)="handleRemove($event)"
                (onEdit)="handleEdit($event)" >
            </movies-list>
        </div>
    </div>
</div>


  


<!-- <modal #editormodal (onClose)="showEditor=false" *ngIf="showEditor">
    <movie-editor 
        (onClose)="editormodal.closeModal()"
        (onSave)="isMovieExist($event.id) ? updateExistingMovie($event) : createNewMovie($event)"
        [movie]="movie"> 
    </movie-editor>
</modal>

<modal #dialogmodal (onClose)="showDialog=false" *ngIf="showDialog">
    <dialog (onClose)="dialogmodal.closeModal()" (onApprove)="deleteMovie(movieId); dialogmodal.closeModal()"> </dialog>
</modal>

<modal #successmodal (onClose)="showSuccess=false" *ngIf="showSuccess">
    <success> </success>
</modal>

<modal #failuremodal (onClose)="showFailure=false" *ngIf="showFailure">
    <failure> </failure>
</modal>

<modal #loadermodal (onClose)="showLoader=false" [allowManualClose]="false" *ngIf="showLoader">
    <loader> </loader>
</modal> -->
