<loader *ngIf="showLoader"> </loader>
<dialog *ngIf="showDialog" (onClose)="showDialog=false" (onApprove)="deleteMovie(movieId)"> </dialog>
<success *ngIf="showSuccess" (onClose)="showSuccess=false"> </success>

<movie-editor *ngIf="showEditor"
    (onClose)="showEditor=false"
    [movie]="movie"> 
</movie-editor>

<header> </header>



<div class="page">
    <div class="body">
        <div class="block-container">
            <span class="global-separator"></span>
            <movies-list
                [movies]="movies"
                (onRemove)="handleRemove($event)"
                (onEdit)="handleEdit($event)" >
            </movies-list>
        </div>
    </div>
</div>



