
<loader *ngIf="inProgress$ | async" > </loader>

<dialog *ngIf="(dialog$ | async)?.isShown"
    (onCancel)="hideDialog()"
    (onApprove)="handleRemove(movieId)"
    [message]="(dialog$ | async)?.message" >
</dialog>

<success *ngIf="(success$ | async)?.isShown"
    (onClose)="hideSuccess()"
    [message]="(success$ | async)?.message" >
</success>

<div class="page">
    <div class="body">
        <movies-list
            [movies]="moviesList$ | async"
            (onRemove)="movieId=$event; showDeletionAlert()"
            (onEdit)="navigateToMovieSummary($event)" >
        </movies-list>
    </div>
</div>



