/* You can add global styles to this file, and also import other style files */
@import './app/Assets/Config/Colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: HeeboRegular;
    src: url('./app/Assets/Fonts/HeeboRegular.ttf');
}

body {
    font-family: HeeboRegular;

    @media screen and (min-width: 900px) {
      font-size: 16px;
    }

    @media screen and (max-width: 899px) {
      font-size: 13px;
    }
}

.global-separator {
  display: block;
  margin: 30px 0px;
}
